:root {
  /* BACKGROUND */
  --bg-main: hsl(30, 54%, 90%);
  --bg-card: hsl(0, 0%, 100%);
  --bg-prep: hsl(330, 100%, 98%);

  /* TEXT */
  --text-body: hsl(30, 10%, 34%);
  --text-heading: hsl(14, 45%, 36%);
  --text-heading-main: hsl(24, 5%, 18%);
  --text-prep: hsl(332, 51%, 32%);

  /* BORDERS */
  --border-color: hsl(30, 18%, 87%);
}

@font-face{
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 100 900;
}

@font-face{
  font-family: "Youngserif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}

/* ====================
        RESET
==================== */

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* ====================
         BASE 
==================== */

body{
  font-family: "Outfit", sans-serif;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

  /* RESPONSIVO */
  padding: clamp(1rem, 5vw, 3rem) 1rem 1rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card{
  background-color: var(--bg-card);
  max-width: 40rem;
  width: 100%;
  border-radius: 0.75rem; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-image{
  width: 100%;
  display: block;
  border-radius: 0.75rem;
  margin-block-end: 1rem;
}

.card p{
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-body);
}

/* ====================
      HEADINGS
==================== */

h1, h2{
  font-family: "Youngserif", serif;
}

h2{
  color: var(--text-heading);
  margin-block-end: 1rem;
}

/* ====================
     PREP TIME
==================== */

.prep-time{
  background-color: var(--bg-prep);
  border-radius: 0.75rem;
  padding: 1rem;
}

.prep-time h2{
  font-size: 1rem;
  color: var(--text-prep);
  font-weight: 700;
  margin-block-end: 0.75rem;
}

.prep-time ul{
  font-size: 0.9rem;
  padding-inline-start: 1.5rem;
  color: var(--text-body);
}

.prep-time li{
  margin-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
}

.prep-time strong{
  color: var(--text-heading-main);
}

/* ====================
     INGREDIENTS
==================== */

.ingredients ul {
  font-size: 0.9rem;
  padding-inline-start: 1.5rem;
  color: var(--text-body);
}

.ingredients li {
  margin-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
}

/* ====================
     SECTIONS
==================== */

section{
  border-bottom: 1px solid var(--border-color);
  padding-block-end: 1.5rem;
}

section:last-child {
  border-bottom: none;
}

/* ====================
     INSTRUCTIONS
==================== */

.instructions ol {
  font-size: 0.9rem;
  padding-inline-start: 1.5rem;
  color: var(--text-body);
}

.instructions li {
  margin-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
  line-height: 1.6;
}

.instructions li::marker{
  color: var(--text-heading);
  font-weight: 700;
}

.instructions strong{
  color: var(--text-heading-main);
}

/* ====================
     NUTRITION
==================== */

.nutrition p{
  font-size: 0.9rem;
}

.nutrition table{
  width: 100%;
  border-collapse: collapse;
}

.nutrition tr{
  border-bottom: 1px solid var(--border-color);
  font-size: 0.9rem;
}

.nutrition tr:last-child {
  border-bottom: none;
}

.nutrition th{
  text-align: left;
  font-weight: 400;
  color: var(--text-body);
}

.nutrition td{
  font-weight: 700;
  color: var(--text-heading);
}

.nutrition th,
.nutrition td {
  padding: 0.75rem 1rem;
}

/* ====================
     FOOTER
==================== */

.attribution {
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-body);
  margin-block-start: 2rem;
}